* {
  font-family: 'Quicksand', sans-serif;
}

ul {
  text-align: center;
}

#statusVsTime {
  height: 350px;
}

#chart2 {
  height: 500px;
}

.main {
  margin-top:50px;
}

.list-inline {
  margin-top: 10px;
  margin-bottom: -10px;
}

.passed {
  color: #7bbb36;
}

.stopped {
  color: #6aa5ce;
}

.error {
  color: #ffe03d;
}

.failed {
  color: #d33642;
}

.annotation {
  margin-left: 30px;
  margin-right: 30px;
}
