* {
  font-family: 'Quicksand', sans-serif;
}

ul {
  text-align: center;
}

#statusVsTime {
  height: 420px;
}

#durVsTime {
  height: 420px;
}

#failsStat {
  height: 420px;
}

.main {
  margin-top: 50px;
}

.list-inline {
  margin: 10px 0 -10px 0;
}

.passed {
  color: #7bbb36;
}

.stopped {
  color: #6aa5ce;
}

.error {
  color: #ffe03d;
}

.failed {
  color: #d33642;
}
